.git
.github
.gitignore
.gitattributes

node_modules
vendor

.env
.env.*
!.env.example

public/build
public/hot
public/storage

storage/app/public/*
!storage/app/public/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/framework/testing
storage/logs/*
!storage/logs/.gitignore

tests
phpunit.xml
.phpunit.cache
.phpunit.result.cache

.idea
.vscode
.zed
.fleet
*.swp
.DS_Store

docker-compose.yaml
docker-compose-production.yaml

README.md
LICENSE
.editorconfig
.prettierrc
.prettierignore

.claude
.agents
.codex
.gemini
.cursor

production
